.circleBase {
  position: relative;
  margin: auto;
  width: 316px;
  height: 316px;
  flex-shrink: 0;
  border-radius: 316px;
  background: #0754b0;
  box-shadow:
    -5px -5px 50px 0 rgba(255, 255, 255, 0.5) inset,
    5px 5px 50px 0 rgba(0, 0, 0, 0.4) inset,
    5px 5px 50px 0 rgba(0, 0, 0, 0.25),
    -5px -5px 50px 0 rgba(255, 255, 255, 0.5);
}
